@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
	position: relative;
	min-width: 100%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 40rem;
}

nav a {
	text-decoration: none;
	color: #05386B;
	font-size: 2rem;
	font-family: 'Montserrat';
	padding: 1rem;
	clip-path: polygon(5% 10%, 90% 5%, 100% 100%, 0% 90%);
}

nav a:hover {
	background-color: #05386B;
	color: #EDF5E1;
}

body {
	background-color: #5CDB95;
}

#about {
	color: #EDF5E1;
	font-family: 'Montserrat';
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50rem;
	margin: 5rem auto;
	flex-wrap: wrap;
}

#my_img {
	border-radius: 50%;
	width: 20rem;
	height: 20rem;
}

#services, #contact {
	margin-top: 7rem;
}

.headings {
	color: #EDF5E1;
	font-family: 'Montserrat';
	font-size: 2rem;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sideLine {
	content: "";
	width: 4rem;
	height: .3rem;
	background-color: white;
	align-self: center;
	margin: 0 1rem;
	display: inline-block;
	border-radius: .3rem;
}

.projects a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

.projectLeft {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50rem;
	background-color: #379683;
	border-radius: 3rem;
	margin-bottom: 3rem;
	left: 0;
	flex-wrap: wrap;
	align-self: flex-start;
}

.desc {
	align-self: center;
	font-family: 'Montserrat';
	color: #EDF5E1;
	font-size: 1.3rem;
	width: 50%;
}

.projName {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat';
	color: #EDF5E1;
	font-size: 2rem;
}

.projectRight {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 50rem;
	background-color: #379683;
	margin-bottom: 3rem;
	border-radius: 3rem;
	flex-wrap: wrap;
	align-self: flex-end;
}

.serviceOffered {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
}

.service {
	margin-top: 3rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.service img {
	border-radius: 50%;
	width: 20rem;
	height: 20rem;
	align-self: center;
}

.service:hover {
	background-color: #379683;
	border-radius: 5rem;
}

.service p {
	font-family: 'Montserrat';
	font-size: 2rem;
	color: #EDF5E1;
	text-align: center;
}

.conOpts {
	text-align: center;
}

#mobNo, #email, #twitter, #instagram {
	font-family: 'Montserrat';
	font-size: 2rem;
	color: #EDF5E1;
}

#email a, #twitter a, #instagram a {
	font-family: 'Montserrat';
	font-size: 2rem;
	color: #EDF5E1;
	text-decoration: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 0;
	margin-top: 5rem;
}

.top {
	font-family: 'Montserrat';
	text-decoration: none;
	color: #EDF5E1;
	position: fixed;
	bottom: 0;
	margin-bottom: 3.5rem;
	font-size: 1.3rem;
	background-color: #05386B;
	padding: 1rem; 
	clip-path: polygon(5% 0%, 90% 0%, 100% 100%, 0% 90%);
}
